/* Global style */

body {

    background-color: #A8D0E6;
    font-family: "Press Start 2P", sans-serif;
    text-align: center;

}

/* Heading */

.heading {

    margin: 60px auto;
    font-size: 40px;

}

.subheading {

    margin-bottom: 60px;

}

/* Game area */

.selection-area {

    display: flex;
    justify-content: center;

}

.selection-area  img {

    height: 200px;
    width: 200px;
    margin: 40px;

}

.result {
    
    margin: 60px auto;

}

/* footer */

footer {

    height: 150px;
    background-color: #F76C6C;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;

}

button {

    all: unset;
    cursor: pointer;

  }
