/* Global style */

body {

    background-color: #A8D0E6;
    font-family: "Press Start 2P", sans-serif;
    text-align: center;

}

/* Heading */

.heading {

    margin: 60px auto;
    font-size: 40px;

}

.subheading {

    margin-bottom: 60px;

}

/* Game area */

.selection-area {

    display: flex;
    justify-content: center;
    height: 250px;

}

.selection-area > img {

    height: 200px;
    width: 200px;
    padding: 40px;

}

.game-outcome {
    
    margin: 60px auto;

}

/* footer */

footer {

    height: 150px;
    background-color: #F76C6C;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

}

