/* Global style */

body {
    background-color: #A8D0E6;
    font-family: "Press Start 2P", sans-serif;
    text-align: center;
    margin: 0;
}

/* Heading */

.heading {
    margin: 40px auto;
    font-size: 40px;
}

.subheading {
    margin-bottom: 60px;
}

/* Game area */

.game-area {
    width: 75%;
    margin: auto;
}

.selection-area img {
    height: 200px;
    width: 200px;
}

button img {
    transition: transform .2s ease;
    margin: 50px;
}

button:hover img {
    transform: scale(1.2);
}

button {
    all: unset;
    cursor: pointer;
  }

.choices {
    margin: 60px auto;
}

.outcome {

    margin: auto;

}

#result {
    color: #F8E9A1;
    font-size: 40px;
}

.score-area {
    display: flex;
    justify-content: space-evenly;
    margin: 60px auto;
}


/* footer */

footer {
    height: 100px;
    background-color: #F76C6C;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer div {
    flex-shrink: 0;
}
